body { background: #c458ed; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 43px; display: flex; }
.block-payment-0 { color: #82281d; font-size: 21px; margin-bottom: 5px; }
.block-user-1 { color: #8ebd92; font-size: 12px; margin-bottom: 5px; }
.block-user-2 { color: #84eb82; font-size: 20px; margin-bottom: 5px; }
.block-shipping-3 { color: #e5443; font-size: 20px; margin-bottom: 5px; }
.block-database-4 { color: #ae33d; font-size: 15px; margin-bottom: 5px; }